#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  padding-bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h2{
  margin-bottom: 0;
}

.logo{
  height: 1.2em;
  width: 1.2em;
}

.footer{
  background-color: rgb(89, 139, 106);
  display: flex;
  bottom: 0;
  color: black;
  padding: 0.5em;
  padding-right: 1em;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
  text-align: right;
  position: relative;
  margin-top: 4em;
  margin-left: -4rem;
  margin-right: -4rem;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.over{
  color: #FF674D;
}

.banner{
  padding: 1em;
  border: 1px solid rgb(67, 67, 204);
  border-radius: 5px;
  background-color: #373F51;
}

.key{
  text-align: right;
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.vacay{
  color: lightgreen;
}

.pair, .hr-pair{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

input[type='number'], input[type='date']{
  height: 2em;
}

input[type='number']{
  width: 10rem;
}

.row{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.2fr 1.2fr ;
  gap: 0.2em;
  align-items: center;
  padding-top: 0.25em;
}

#header{
  grid-template-columns: 0.5fr 1.5fr 1.2fr 1.2fr ;
  align-items: center;
}

#header > h2{
  text-align: left;
  padding-left: 5px;
}

.row > div{
  width: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.editHourForm > input{
  width: 70%;
}

.row > .edit-pair{
  display: flex;
  text-align: center;
  padding-left: 5px;
  gap: 0.5em;
  align-items: center;
}

.row > .edit-pair > p{
  margin: 0;
}

.list-logo{
  height: 15px;
  border-radius: 5px;
  padding: 0.5em;
}

@media (max-width: 800px) {

  #root{
    padding: 2em;
  }

  .layout{
    display: grid;
    grid-template-columns: 1fr;
  }

  .layout > .card{
    padding: 0em;
    text-align: center;
    align-items: center;
  }

  #header{
    grid-template-columns: 0.3fr 1.6fr 1.1fr 1.1fr;
    font-size: 0.85em;
  }

  .table{
    padding: 0;
  }

  .card > .pair, form > .pair{
    flex-direction: row;
    gap: 0.5em;
  }

  .pair, .hr-pair{
    flex-direction: column;
    gap: 0.25em;
  }

  #key-pair{
    flex-direction: column;
  }

  .key{
    text-align: center;
  }

  .row > .edit-pair{
    gap: 0.05em;
  }

  .edit-pair img{
    width: 0.9em;
    height: 0.9em;
  }

  form{
    text-align: center;
    align-items: center;
  }

  .row{
    gap: 0.25em;
    grid-template-columns: 0.3fr 1.6fr 1.1fr 1.1fr;
    text-align: right;
    width: 100%;
  }

  .footer{
    margin-right: -3em;
  }

}

@media (max-width: 390px) {

  form > .pair{
    gap: 0.5em;
  }

}

.form > form{
  padding: 0em;
}

.card, form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.read-the-docs {
  color: #888;
}
