#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}

h2{
  margin-bottom: 0;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.over{
  color: red;
}

.banner{
  padding: 1em;
  border: 1px solid darkolivegreen;
  border-radius: 5px;
  background-color: darkslategray;
}

.vacay{
  color: lightgreen;
}

.pair{
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type='number'], input[type='date']{
  width: 10em;
}

.row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.form > form{
  padding: 0em;
}

.card, form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.read-the-docs {
  color: #888;
}
