#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  padding-bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h2{
  margin-bottom: 0;
}

.logo{
  height: 1.2em;
  width: 1.2em;
}

.footer{
  background-color: rgb(89, 139, 106);
  display: flex;
  bottom: 0;
  color: black;
  padding: 0.5em;
  padding-right: 1em;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
  text-align: right;
  position: relative;
  margin-top: 4em;
  margin-left: -4rem;
  margin-right: -4rem;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.over{
  color: #FF674D;
}

.banner{
  padding: 1em;
  border: 1px solid rgb(67, 67, 204);
  border-radius: 5px;
  background-color: #373F51;
}

.key{
  text-align: right;
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.vacay{
  color: lightgreen;
}

.pair, .hr-pair{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

input[type='number'], input[type='date']{
  width: 10rem;
  height: 2em;
}

.row{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
}

#header{
  grid-template-columns: 1.5fr 1fr 1fr;
}

.row > div{
  width: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media (max-width: 750px) {

  .card{
    padding: 0em;
  }

  .table{
    font-size: 0.9em;
  }

  .pair, .hr-pair{
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
  }

  .row{
    gap: 0.25em;
    text-align: right;
  }

}

.form > form{
  padding: 0em;
}

.card, form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.read-the-docs {
  color: #888;
}
